@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Prompt");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="text"] {
  rounded-full
} */

/* h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding: 10px;
  max-width: 700px;
  background-color: rgb(144, 221, 231);
}

label {
  width: 5vw;
}

:invalid {
  background-color: red;
}

.err {
  display: none;
}

.input-pair {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-self: end;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup {
  height: auto;
  display: none;
} */
